.voting-home {
	&::after {
		content: '';
		background: url(/ethereum.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		opacity: 0.2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}
}

.chain-img {
	opacity: 0.6;
}
